version: "3.9"

services:
  api:
    build: .
    command: ["uvicorn", "server.server:app", "--reload", "--host", "0.0.0.0", "--port", "8000", "--log-level", "info", "--access-log"]
    ports:
      - "8027:8000"
    env_file:
      - .env
    volumes:
      - .:/app

  watcher:
    build: .
    command: ["python", "watcher.py", "--watch", "-i", "60"]
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - api
    environment:
      - SERVER_URL=http://api:8000

  cronjob:
    build: .
    command: ["python", "server/cronjob.py"]
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - api